<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Photography website</title>
     {% load static %}
    <link rel="stylesheet" href="{% static 'home.css' %}">
	
</head>
<body>
    <nav>
        
        <label class="logo">Photography</label>
        <ul>
            <li><a class="war"  href="#">home</a></li>
            <li><a  href="#">Portfolio</a></li>
            <li><a  href="#">Blog</a></li>
            <li><a  href="#">About Us</a></li>
        </ul>
    </nav>
    <section>  
            <div class="details">
            <h1><u><b><i>Photography holds the content</u></i></b></u></h1>
            <br>
            <h2>Photography is not just taking photos but it contains the memories of a past life and has pleasaisnt natures</h2>
            <br>
            <h3>So Lets view some naturalistic pics </h3>
            <br>
            <button><a href="login.html">CLICK</a></button>
        </div> 
    </section>
    <br>
    <br>
    <div class="head1">
        <h1>My Latest snaps</h1>
        <br>
    </div>
    <div class="img">
        <img src="static/pic1.jpg" alt=" ">
        <img src="static/pic2.jpg" alt=" ">
        <img src="static/pic3.jpg" alt=" ">
        <img src="static/pic4.jpg" alt=" ">
    </div>
    <br>
    <br>
    <footer class="footer">
        <div class="container">
                <div class="footer-col">
                    <h1>Contact Us</h1>
                    <br>
                    <div class="social-links">
                        <a href="#"><img src="static/insta.png"></a>
                        <a href="#"><img src="static/facebook.png"></a>
                        <a href="#"><img src="static/twitter.png"></i></a>
                        <a href="#"><img src="static/youtube.png"></i></a>
                    </div>
                </div>
            </div>
        </div>
   </footer>
 <script>
    alert("WELCOME TO TEMPLATE PHOTOGRAPHY");
 </script>
    

    
    
</body>
</html>