*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
}

body{
    font-family: 'Times New Roman', Times, serif;
}
nav{
    height: 80px;
    width: 100%;
    background: rgb(14, 15, 15);
    border-style: groove;
    border-color: crimson;
    border-radius: 0.5%;

}
label.logo{
    font-size: 35px;
    font-weight: bold;
    color: rgb(232, 230, 240);
    padding: 0 100px;
    line-height: 80px;

}
nav ul{
    float: right;
    margin-right: 20px;
}
nav li{
    display: inline-block;
    margin: 30px 30px 30px; 
}
nav a{
    color: rgb(245, 239, 239);
    font-size: 18px;
    text-transform: uppercase;
    border: 2px solid transparent;
    padding: 7px 10px;
    border-radius: 3px;
}

.a.war,a:hover{
    border: 2px solid rgb(44, 194, 64);
    transition: .2s;
}

section{
    background: linear-gradient(rgba(0,0,0,0.70),rgba(0,0,0,0.70)),url(camera.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
}
.details{
    width: 50%;
    margin: auto auto auto;
    text-align: center;
    color: white;
    justify-content: center;
    justify-items: center;
    padding: 12%;
}
.details h1{
    font-size: 250%;
    
}

.details h3{
    font-size: 200%;
    
}
.details button{
    width: 100px;
    padding: 10px 0;
    text-align: center;
    margin: 0 10px;
    font-weight: bold;
    background-color: transparent;
    border: 2px solid rgb(235, 11, 11);
    color: #fff;
    cursor: pointer;
    border-radius: 50%;
}
button:hover{
    background: rgb(86, 69, 235);
    border: 2px solid rgb(50, 196, 5);
}

.head1 h1{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-style: italic;
    
}
.img{
   width: 100%;
   text-align: center;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-gap: 15px;
   position: relative;
   height: 230px;
   border-radius: 10px;
}
img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.footer-col{
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-style: italic;

}
.social-links{
    width: 20%;
   text-align: center;
   margin: auto;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-gap: 20px;
   position: relative;
   height: 20px;
   border-radius: 10px;
}
footer{
    background-color: skyblue;
    height: 125px;
    width: 100%;
    
}
/*
.social-links{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
*/